.hidden {
    display: none;
}
p {
    color: rgb(149, 106, 161);
    width: 720px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin:0 auto
    
  }
  h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(170, 44, 122);
  }
  body {
    width: 800px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 2px solid rgb(180, 92, 176);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-color: black;
   
  }
  img {
    display: block;
    margin: 0 auto;
  }

}
  
/* Comment in CSS*/